<a href="<%= deliveryLink %>"><img
            class="max-width" border="0"
            style="display:block;color:#000000;text-decoration:none;font-family:Helvetica, arial, sans-serif;font-size:16px;"
            width="230" height="40" src="https://sei-prod.s3.amazonaws.com/static/splash/images/sei-splashlogo.png"
            alt="SEI - Secure Exam Interface"></a>
<p>You&#39;ve been invited to take an exam!</p>
<h2><%= examName %></h2>
<div><%= examDescription %></div>
<div>&nbsp;</div>
<a href="<%= deliveryLink %>"
   style="background-color:#333333;border:1px solid #333333;border-color:#333333;border-radius:6px;border-width:1px;color:#ffffff;display:inline-block;font-family:arial,helvetica,sans-serif;font-size:16px;font-weight:normal;letter-spacing:0px;line-height:16px;padding:12px 18px 12px 18px;text-align:center;text-decoration:none"
   target="_blank">Take the exam</a>