<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Email Integration</title>
    </head>
    <body class="container">
        <main id="seiEmailIntegration">
            <button id="uploadCSV" type="button">Upload a CSV</button>
            <form action="" method="POST">
                <table>
                    <tbody id="examineeList">
                        <tr>
                            <td><input type="email" placeholder="Email"></td>
                            <td>Examinee info goes here</td>
                            <td><button id="removeRow" type="button">X</button></td>
                        </tr>
                        <tr id="lastRow">
                            <td></td>
                            <td></td>
                            <td><button id="addRow" type="button">+</button></td>
                        </tr>
                    </tbody>
                </table>
                <button type="submit">Submit</button>
            </form>
        </main>
        <div hidden>
            <table>
                <tr id="rowClone">
                    <td><input type="email" placeholder="Email"></td>
                    <td>Examinee info goes here</td>
                    <td><button id="removeRow" type="button">X</button></td>
                </tr>
            </table>
        </div>
    </body>
    <script>
        document.addEventListener('DOMContentLoaded', init);

        function init() {
            console.log('ready');
            registerListeners();
        }

        function registerListeners() {
            document.getElementById('addRow').addEventListener('click', addRow);
            document.getElementById('removeRow').addEventListener('click', removeRow);
            document.getElementById('uploadCSV').addEventListener('click', uploadCSV);
        }

        function addRow(event) {
            console.log('add row clicked', event);
            var row = document.getElementById('rowClone').cloneNode(true);
            row.removeAttribute('id');
            document.getElementById('examineeList').insertBefore(row, document.getElementById('lastRow'));
        }

        function removeRow(event) {
            console.log('remove row clicked', event);
        }

        function uploadCSV(event) {
            console.log('upload csv clicked', event);
        }
    </script>
</html>