<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Email Integration</title>
    </head>
    <body class="container">
        <main id="seiEmailIntegration">
            <button id="uploadCSV" type="button">Upload a CSV</button>
            <form method="POST">
                <table>
                    <tbody id="examineeList">
                        <tr class="row">
                            <td><input name="emails[]" type="email" required placeholder="Email"></td>
                            <td>
                                <% for(var i = 0; i < examineeSchema.length; i++) { %>
                                    <input name="<%= examineeSchema[i].key %>[]" type="text" <% if (examineeSchema[i].required) { %>required<% } %> placeholder="<%= examineeSchema[i].key %>"><br>
                                <% } %>
                            </td>
                            <td><button class="removeRow" type="button">X</button></td>
                        </tr>
                        <tr id="lastRow">
                            <td></td>
                            <td></td>
                            <td><button id="addRow" type="button">+</button></td>
                        </tr>
                    </tbody>
                </table>
                <button type="submit">Submit</button>
            </form>
        </main>
        <div hidden>
            <table>
                <tr id="rowClone">
                    <td><input name="emails[]" type="email" required placeholder="Email"></td>
                    <td>
                        <% for(var i = 0; i < examineeSchema.length; i++) { %>
                            <input name="<%= examineeSchema[i].key %>[]" type="text" <% if (examineeSchema[i].required) { %>required<% } %> placeholder="<%= examineeSchema[i].key %>"><br>
                        <% } %>
                    </td>
                    <td><button class="removeRow" type="button">X</button></td>
                </tr>
            </table>
        </div>
    </body>
    <script>
        document.addEventListener('DOMContentLoaded', init);

        function init() {
            console.log('ready');
            registerListeners();
        }

        function registerListeners() {
            document.getElementById('addRow').addEventListener('click', addRow);
            document.querySelector('tr td button.removeRow').addEventListener('click', removeRow);
            document.getElementById('uploadCSV').addEventListener('click', uploadCSV);
        }

        function addRow(event) {
            console.log('add row clicked', event);
            var row = document.getElementById('rowClone').cloneNode(true);
            row.removeAttribute('id');
            var child = document.getElementById('examineeList').insertBefore(row, document.getElementById('lastRow'));
            child.querySelector('tr td button.removeRow').addEventListener('click', removeRow);
        }

        function removeRow(event) {
            console.log('remove row clicked', event);
            document.getElementById('examineeList').removeChild(event.target.parentElement.parentElement);
        }

        function uploadCSV(event) {
            console.log('upload csv clicked', event);
        }
    </script>
</html>