<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Email Integration</title>
    </head>
    <body class="container">
        <main>
            <a href="<%= seiBase %>/integrate?caveon_id=<%= caveonId %>">Integrate</a>
        </main>
    </body>
</html>